form.connection {
  width: 35vw;

  display: flex;
  flex-flow: column;

  font-size: 1.75vh;
  background-color: #3498db;
  color: white;
}

form.connection div {
  width: 35vw;
  padding: 0.5vh 0;

  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}

form.connection div h4 { font-weight: normal; }

form.connection div input {
  width: 15vw;
  margin: 0 3vw;
  padding: 0.3vh 0.5vw;
  font-size: 1.25vh;
  border: none;
}

#login, #register {
  width: 20vw;
  padding: 0.2vh 3vw;
  border: none;
  align-self: center;

  font-weight: bold;

  font-size: 1.75vh;
  background-color: #2980b9;;
  color: white;
}
