form.login {
  width: 0;
  margin: 0 auto;
  padding: 0 15vw;

  display: flex;
  flex-flow: column;
  align-items: center;

  font-size: 1.75vh;

  background-color: #3498db;
  color: white;
}

form.login div {
  width: 25vw;
  padding: 0.5vh 0;
  display: flex;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

form.login div input {
  width: 15vw;
  font-size: 1.25vh;
  margin: 0 0 0 0;
}

#login {
  padding: 0.2vh 3vw;
  border: none;

  font-size: 1.75vh;
  background-color: #2980b9;;
  color: white;
}
